---
import { type InputProps, dataAttr } from "@/typescript/input";
import Label from "./Label.astro";

interface Option {
    text?: string;
    value: string;
}

interface Props extends InputProps {
    options: Option[];
}

const { id, label, dataset, options } = Astro.props;
---
<Label label={label}>
    <select id={id} {...dataAttr(dataset)}>
        {options.map((opt: Option) => (<option value={opt.value}>{opt.text ?? opt.value}</option>))}
    </select>
</Label>
