---
import { type InputProps, dataAttr } from "@/typescript/input";
import Label from "./Label.astro";

interface Props extends InputProps {}

const { id, label, dataset } = Astro.props;
---
<Label label={label}>
    <textarea id={id} {...dataAttr(dataset)}></textarea>
</Label>
