:root {
    --background-color: white;
    --foreground-color: black;
    --accent-color: dodgerblue;

    @media (prefers-color-scheme: dark) {
        --background-color: black;
        --foreground-color: white;
    }
}

$background-color: var(--background-color);
$foreground-color: var(--foreground-color);
