:root {
    --background-color: hsl(256, 23%, 88%);
    --foreground-color: black;

    @media (prefers-color-scheme: dark) {
        --background-color: hsl(256, 23%, 16%);
        --foreground-color: white;
    }

    --accent-color-hsl: 264 94% 53%;
    --accent-color: hsl(var(--accent-color-hsl));
    --accent-foreground-color: white;

    --hover-amount: 25%;
    --pressed-amount: 50%;

    --button-primary-background-color:           var(--accent-color);
    --button-primary-background-color-hover:     color-mix(in srgb, var(--accent-color), var(--foreground-color) var(--hover-amount));
    --button-primary-background-color-pressed:   color-mix(in srgb, var(--accent-color), var(--foreground-color) var(--pressed-amount));

    --button-secondary-background-color:         transparent;
    --button-secondary-background-color-hover:   hsl(var(--accent-color-hsl) / var(--hover-amount));
    --button-secondary-background-color-pressed: hsl(var(--accent-color-hsl) / var(--pressed-amount));

    --rounding: 1ch;
}
