---
import "@/styles/page-base.scss";
import Button from "@/components/Button.astro";
import Toggle from "@/components/Toggle.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image" href="/icons/goop-512.png"/>
		<title>Settings - Amity Mod</title>
		<script type="module" src="/scripts/popup.js" defer></script>
	</head>
	<body>
		<h1>Amity Mod</h1>
		<h2>Settings</h2>
		<form>
			<h3>Enable Mods</h3>
			<Toggle type="checkbox" checked dataset={({ setting: 'enable-developer_mozilla' })}>developer.mozilla.org</Toggle>

			<Button id="save-button" kind="primary">Save</Button>
		</form>
	</body>
</html>
