---
import "@/styles/page-base.scss";
import "@/scripts/popup";
import Button from "@/components/Button.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image" href="/icons/goop-512.png"/>
		<title>Amity Mod</title>
	</head>
	<body>
		<h1>Amity Mod</h1>
		This is a test!
		<Button kind="primary">Primary</Button>
		<Button kind="secondary">Secondary</Button>
	</body>
</html>
