---
import "@/styles/style.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/icons/goop-512.png" />
		<title>Amity Mod</title>
	</head>
	<body>
		<h1>Amity Mod</h1>
	</body>
</html>
