---
import EnableSiteStyle from "@/components/EnableSiteStyle.astro";
import Button from "@/components/input/Button.astro";
import Toggle from "@/components/input/Toggle.astro";
import CONTENT_STYLE_DATA from '@/public/content-style-data.json';
---

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image" href="/icons/goop-512.png"/>
		<link rel="stylesheet" href="/styles/vars.css"/>
		<link rel="stylesheet" href="/styles/input.css"/>
		<link rel="stylesheet" href="/styles/table-base.css"/>
		<link rel="stylesheet" href="/styles/basic.css"/>
		<script type="module" src="/scripts/popup.js" defer></script>
		<title>Settings - Amity Mod</title>
	</head>
	<body>
		<h1>Amity Mod</h1>
		<form>
			<h2>Enable on</h2>

			{Object.entries(CONTENT_STYLE_DATA).map(([key, {displayName}]) => (<EnableSiteStyle key={key} displayName={displayName}/>))}

			<h2>Misc. features</h2>
			<Toggle type="checkbox" dataset={{ setting: "convert-braced-to-colored" }}>Convert {"{ braced }"} to <span style="color:dodgerblue">colored</span></Toggle>

			<Button id="save-button" kind="primary">Save</Button>
		</form>
	</body>
</html>
