---
import { type InputProps, dataAttr } from "@/typescript/shared";
import "@/styles/input.scss"
import Label from "./Label.astro";

interface Props extends InputProps {
    /** The style of the button */
    kind: 'primary' | 'secondary';
    isToggle?: boolean;
}

const { id, label, dataset, kind, isToggle = false } = Astro.props;
---
<Label label={label}>
    <button id={id} class:list={[ kind ]} type="button" data-toggle={isToggle ? "yes" : undefined} {...dataAttr(dataset)}>
        <slot/>
    </button>
</Label>

<script type="module" src="/scripts/button.js" defer></script>
