---
import type { InputProps } from "@/scripts/shared";
import "@/styles/input.scss"
import Label from "./Label.astro";

interface Props extends InputProps {
    /** The style of the button */
    kind: 'primary' | 'secondary';
    isToggle?: boolean;
}

const { id, label, kind, isToggle = false } = Astro.props;
---
<Label label={label}>
    <button id={id} class:list={[ kind ]} type="button" data-toggle={isToggle ? "yes" : undefined}>
        <slot/>
    </button>
</Label>

<script>
    // import { toggleButtonState } from "@/scripts/shared";
    // const toggleButtons: HTMLButtonElement[] = Array.from(document.querySelectorAll('.button-combo[data-kind="multi"] button, button[data-toggle="yes"]'));
    // for (const btn of toggleButtons) {
    //     btn.addEventListener('click', () => {
    //         toggleButtonState(btn);
    //     });
    // }
</script>
