---
import type { InputProps } from "@/scripts/inputs";
import "@/styles/input.scss"

interface Props extends InputProps {
    /** The style of the button */
    kind: 'primary' | 'secondary';
}

const { id, label, kind } = Astro.props;
---
<label>
    <slot name="label"/>{label ?? ""}</label>
    <button id={id} class:list={[ kind ]} type="button">
        <slot/>
    </button>
</label>
