---
import type { InputProps } from "@/scripts/inputs";
import "@/styles/input.scss";
import Label from "./Label.astro";

interface Option {
    text?: string;
    value: string;
}

interface Props extends InputProps {
    options: Option[];
}

const { id, label, options } = Astro.props;
---
<Label label={label}>
    <select id={id}>
        {options.map((opt: Option) => (<option value={opt.value}>{opt.text ?? opt.value}</option>))}
    </select>
</Label>
