---
const hasHead = Astro.slots.has('header');
const hasFoot = Astro.slots.has('footer');
---
<table class="table">
    {hasHead && (<thead><slot name="header"/></thead>)}
    <tbody>
        <slot/>
    </tbody>
    {hasFoot && (<tfoot><slot name="footer"/></tfoot>)}
</table>
