---
import type { InputProps } from "@/typescript/shared";
import "@/styles/input.scss";
import Label from "./Label.astro";

interface Props extends InputProps {
}

const { id, label } = Astro.props;
---
<Label label={label}>
    <textarea id={id}></textarea>
</Label>
