---
import type { InputProps } from "@/typescript/shared";
import "@/styles/input.scss";
import Toggle from "./Toggle.astro";
import Label from "./Label.astro";

/**
 * Props for the PickList component.
 * @extends InputProps
 */
interface Props extends InputProps {
    /** The style of the button */
    type: "checkbox" | "radio";
    items: string[];
    name: string;
}

const { type, label, items, name } = Astro.props;
---
<Label label={label}>
    <span class="toggle-list">
        {items.map((opt: string) => (<Toggle type={type} name={name}>{opt}</Toggle>))}
    </span>
</Label>
